header{
	display: flex;
	justify-content: center;
	padding-top: 0.5rem 0;
}

.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-left {
	display: flex;
	align-items: center;
}

.header-logo {
	margin-right: 0.5rem;
}

.header-text {
	font-size: 1.25em;
}

.header-right {
	display: flex;
	align-items: center;
}

.header-call-us {
	font-size: 0.75em;
}

