nav {
	background-color: rgb(172, 205, 218);
	display: flex;
	justify-content: center;
}

.navbar-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-links {
	display: flex;
	list-style-type: none;
	justify-content: space-around;
	padding: 0;
}

.navbar-link,
.navbar-link-selected {
	text-decoration: none;
	padding-right: 1.5rem;
}

.navbar-link {
	color: rgb(35, 50, 58);
}

.navbar-link:hover,
.navbar-link-selected {
	color: rgb(0, 143, 213);
}

.navbar-arrow-down, 
.navbar-arrow-right {
	display: none;
	vertical-align: middle;
}

.navbar-link .navbar-arrow-right,
.navbar-link-selected .navbar-arrow-down {
	display: inline-block;	
}

.navbar-search {
	position: relative;
}

.navbar-search-dropdown {
	display: none;
	align-items: flex-end;
	position: absolute;
	background-color: rgb(255, 255, 255);
	right: 0px;
	z-index: 1;
}

.navbar-search:hover .navbar-search-dropdown {
	display: flex;
}

.navbar-search-input {
	display: inline-block;
	border: none;
	color: rgb(115, 132, 142);
	background-color: rgb(255, 255, 255);
	margin: 1rem;
}

.navbar-search-button {
	padding: 16px;
	background-color: rgb(35, 50, 58);
}

.navbar-search-icon {
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 16px;
}

.navbar-search-arrow {
	position: absolute;
	display: none;
	z-index: 1;
	bottom: 0px;
}

.navbar-search:hover .navbar-search-arrow {
	display: block;	
}
